<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
  <entry key="numberOfFloors">1</entry>
  <entry key="numberOfElevators">1</entry>
  <entry key="timeOpeningDoor">1</entry>
  <entry key="timeClosingDoor">1</entry>
  <entry key="schedulerPort">6000</entry>
  <entry key="elevatorPort">5000</entry>
</properties>
